.card {
  transition: transform 150ms ease, box-shadow 150ms ease;
  height: max-content;
  &:hover {
    transform: scale(1.01);
    box-shadow: var(--mantine-shadow-md);
  }
}

.title {
  font-family: 'Greycliff CF', var(--mantine-font-family);
  font-weight: bold;
}

.icon {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-1));
}
